GROQ_API_KEY_1="gsk_key_1_here"
GROQ_API_KEY_2="gsk_key_2_here"
GROQ_API_KEY_3="gsk_key_3_here"
GROQ_API_KEY_4="gsk_key_4_here"
GROQ_API_KEY_5="gsk_key_5_here"
GROQ_API_KEY_6="gsk_key_6_here"
GROQ_API_KEY_7="gsk_key_7_here"
GROQ_API_KEY_8="gsk_key_8_here"
GROQ_API_KEY_9="gsk_key_9_here"
GROQ_API_KEY_10="gsk_key_10_here"
GROQ_API_KEY_11="gsk_key_11_here"
GROQ_API_KEY_12="gsk_key_12_here"
GROQ_API_KEY_13="gsk_key_13_here"
GROQ_API_KEY_14="gsk_key_14_here"
GROQ_API_KEY_15="gsk_key_15_here"
GROQ_API_KEY_16="gsk_key_16_here"
GROQ_API_KEY_17="gsk_key_17_here"
GROQ_API_KEY_18="gsk_key_18_here"
GROQ_API_KEY_19="gsk_key_19_here"
GROQ_API_KEY_20="gsk_key_20_here"
GROQ_API_KEY_21="gsk_key_21_here"